## This program is to help :
- load the event and ticket data from CSV files,
- Merge the data to create a sales data table
- Filter the data to find brand, year and price of cars available in some particular years
- Prepare an email message with the details of the target details, and
- Send the email to the customer using the Gmail SMTP server.

In [1]:
# Import necessary libraries
import pandas as pd
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

In [2]:
# Load the car sales data
car_sales_data = pd.read_csv('car_sales.csv')

In [3]:
car_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         4345 non-null   object
 1   Price         4173 non-null   float64
 2   Body          4345 non-null   object
 3   Mileage       4345 non-null   int64
 4   EngineV       4195 non-null   float64
 5   Engine Type   4345 non-null   object
 6   Registration  4345 non-null   object
 7   Year          4345 non-null   int64
 8   Model         4345 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 305.6+ KB

In [4]:
car_sales_data.shape

(4345, 9)

In [5]:
car_sales_data.isnull

<bound method DataFrame.isnull of               Brand     Price       Body  Mileage  EngineV Engine Type  \
0               BMW    4200.0      sedan      277      2.0      Petrol
1     Mercedes-Benz    7900.0        van      427      2.9      Diesel
2     Mercedes-Benz   13300.0      sedan      358      5.0         Gas
3              Audi   23000.0  crossover      240      4.2      Petrol
4            Toyota   18300.0  crossover      120      2.0      Petrol
...             ...       ...        ...      ...      ...         ...
4340  Mercedes-Benz  125000.0      sedan        9      3.0      Diesel
4341            BMW    6500.0      sedan        1      3.5      Petrol
4342            BMW    8000.0      sedan      194      2.0      Petrol
4343         Toyota   14200.0      sedan       31      NaN      Petrol
4344     Volkswagen   13500.0        van      124      2.0      Diesel

     Registration  Year              Model
0             yes  1991                320
1             yes  1999       Sprinter 212
2             yes  2003              S 500
3             yes  2007                 Q7
4             yes  2011              Rav 4
...           ...   ...                ...
4340          yes  2014              S 350
4341          yes  1999                535
4342          yes  1985                520
4343          yes  2014            Corolla
4344          yes  2013  T5 (Transporter)

[4345 rows x 9 columns]>

In [6]:
# Filter the data for cars that meet certain criteria
target_cars1 = car_sales_data[(car_sales_data['Brand'] == 'Mercedes-Benz') &
                             (car_sales_data['Year'] >= 2013) &
                             (car_sales_data['Price'] <= 30000)]

In [7]:
target_cars1

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
262,Mercedes-Benz,13600.0,van,172,2.2,Diesel,yes,2013,Vito
379,Mercedes-Benz,19600.0,van,127,1.8,Diesel,yes,2013,B 180
722,Mercedes-Benz,26000.0,other,22,1.8,Petrol,yes,2014,C-Class
793,Mercedes-Benz,12800.0,other,116,2.2,Diesel,yes,2013,Vito
839,Mercedes-Benz,16800.0,van,116,2.2,Diesel,yes,2013,Vito
946,Mercedes-Benz,29500.0,sedan,64,1.6,Petrol,yes,2013,CLA 200
1390,Mercedes-Benz,29999.0,hatch,9,NaN,Other,yes,2015,B-Class Electric Drive
1778,Mercedes-Benz,28500.0,hatch,15,1.8,Diesel,yes,2014,A 180
1903,Mercedes-Benz,18000.0,van,147,2.2,Diesel,yes,2013,Vito
2225,Mercedes-Benz,28000.0,other,12,1.8,Petrol,yes,2013,C-Class
2396,Mercedes-Benz,14300.0,other,175,2.2,Diesel,yes,2013,Sprinter 313
2439,Mercedes-Benz,13500.0,van,97,2.2,Diesel,yes,2013,Vito
2615,Mercedes-Benz,23700.0,sedan,86,1.8,Gas,yes,2013,E-Class
3018,Mercedes-Benz,12000.0,van,177,NaN,Diesel,yes,2013,Vito
3053,Mercedes-Benz,12500.0,van,167,2.2,Diesel,yes,2013,Vito
3157,Mercedes-Benz,19600.0,van,127,1.8,Diesel,yes,2013,B 180
3297,Mercedes-Benz,19600.0,vagon,127,1.8,Diesel,yes,2013,B 180
3700,Mercedes-Benz,29500.0,crossover,55,2.2,Diesel,no,2013,ML 250
3831,Mercedes-Benz,17999.0,van,260,2.2,Diesel,yes,2013,Sprinter 316
3889,Mercedes-Benz,13995.0,van,126,2.2,Diesel,yes,2013,Vito
3930,Mercedes-Benz,16800.0,van,116,NaN,Other,yes,2013,Vito
4223,Mercedes-Benz,26800.0,vagon,160,2.2,Diesel,yes,2014,E-Class
4291,Mercedes-Benz,28950.0,sedan,40,1.8,Petrol,yes,2014,C-Class
4326,Mercedes-Benz,24950.0,other,60,1.8,Petrol,yes,2013,C-Class

In [8]:
target_cars1.shape

(24, 9)

In [9]:
target_cars1.head(10)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
262,Mercedes-Benz,13600.0,van,172,2.2,Diesel,yes,2013,Vito
379,Mercedes-Benz,19600.0,van,127,1.8,Diesel,yes,2013,B 180
722,Mercedes-Benz,26000.0,other,22,1.8,Petrol,yes,2014,C-Class
793,Mercedes-Benz,12800.0,other,116,2.2,Diesel,yes,2013,Vito
839,Mercedes-Benz,16800.0,van,116,2.2,Diesel,yes,2013,Vito
946,Mercedes-Benz,29500.0,sedan,64,1.6,Petrol,yes,2013,CLA 200
1390,Mercedes-Benz,29999.0,hatch,9,NaN,Other,yes,2015,B-Class Electric Drive
1778,Mercedes-Benz,28500.0,hatch,15,1.8,Diesel,yes,2014,A 180
1903,Mercedes-Benz,18000.0,van,147,2.2,Diesel,yes,2013,Vito
2225,Mercedes-Benz,28000.0,other,12,1.8,Petrol,yes,2013,C-Class

In [10]:
target_cars1.tail(10)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
3053,Mercedes-Benz,12500.0,van,167,2.2,Diesel,yes,2013,Vito
3157,Mercedes-Benz,19600.0,van,127,1.8,Diesel,yes,2013,B 180
3297,Mercedes-Benz,19600.0,vagon,127,1.8,Diesel,yes,2013,B 180
3700,Mercedes-Benz,29500.0,crossover,55,2.2,Diesel,no,2013,ML 250
3831,Mercedes-Benz,17999.0,van,260,2.2,Diesel,yes,2013,Sprinter 316
3889,Mercedes-Benz,13995.0,van,126,2.2,Diesel,yes,2013,Vito
3930,Mercedes-Benz,16800.0,van,116,NaN,Other,yes,2013,Vito
4223,Mercedes-Benz,26800.0,vagon,160,2.2,Diesel,yes,2014,E-Class
4291,Mercedes-Benz,28950.0,sedan,40,1.8,Petrol,yes,2014,C-Class
4326,Mercedes-Benz,24950.0,other,60,1.8,Petrol,yes,2013,C-Class

In [11]:
# Filter the data for cars that meet certain criteria
target_cars2 = car_sales_data[(car_sales_data['Brand'] == 'Toyota') &
                             (car_sales_data['Year'] >= 2016) &
                             (car_sales_data['Price'] <= 30000)]

In [12]:
target_cars2

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
551,Toyota,25749.75,sedan,0,2.50,Petrol,yes,2016,Camry
784,Toyota,28787.85,sedan,0,2.50,Petrol,yes,2016,Camry
788,Toyota,20859.15,crossover,1,2.00,Petrol,yes,2016,Rav 4
1867,Toyota,24171.42,sedan,1,2.50,Petrol,yes,2016,Camry
2049,Toyota,24842.03,sedan,0,1.80,Petrol,yes,2016,Avensis
2432,Toyota,10500.00,hatch,17,1.00,Petrol,yes,2016,Yaris
2801,Toyota,11707.80,hatch,1,1.00,Petrol,yes,2016,Yaris
3507,Toyota,20711.25,vagon,0,1.60,Petrol,yes,2016,Auris
3642,Toyota,16672.50,hatch,1,1.60,Petrol,yes,2016,Auris
4289,Toyota,17394.09,hatch,0,1.33,Petrol,yes,2016,Yaris

In [13]:
target_cars2.shape

(10, 9)

In [14]:
target_cars2.head(10)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
551,Toyota,25749.75,sedan,0,2.50,Petrol,yes,2016,Camry
784,Toyota,28787.85,sedan,0,2.50,Petrol,yes,2016,Camry
788,Toyota,20859.15,crossover,1,2.00,Petrol,yes,2016,Rav 4
1867,Toyota,24171.42,sedan,1,2.50,Petrol,yes,2016,Camry
2049,Toyota,24842.03,sedan,0,1.80,Petrol,yes,2016,Avensis
2432,Toyota,10500.00,hatch,17,1.00,Petrol,yes,2016,Yaris
2801,Toyota,11707.80,hatch,1,1.00,Petrol,yes,2016,Yaris
3507,Toyota,20711.25,vagon,0,1.60,Petrol,yes,2016,Auris
3642,Toyota,16672.50,hatch,1,1.60,Petrol,yes,2016,Auris
4289,Toyota,17394.09,hatch,0,1.33,Petrol,yes,2016,Yaris

In [23]:
target_cars2.tail(10)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
551,Toyota,25749.75,sedan,0,2.50,Petrol,yes,2016,Camry
784,Toyota,28787.85,sedan,0,2.50,Petrol,yes,2016,Camry
788,Toyota,20859.15,crossover,1,2.00,Petrol,yes,2016,Rav 4
1867,Toyota,24171.42,sedan,1,2.50,Petrol,yes,2016,Camry
2049,Toyota,24842.03,sedan,0,1.80,Petrol,yes,2016,Avensis
2432,Toyota,10500.00,hatch,17,1.00,Petrol,yes,2016,Yaris
2801,Toyota,11707.80,hatch,1,1.00,Petrol,yes,2016,Yaris
3507,Toyota,20711.25,vagon,0,1.60,Petrol,yes,2016,Auris
3642,Toyota,16672.50,hatch,1,1.60,Petrol,yes,2016,Auris
4289,Toyota,17394.09,hatch,0,1.33,Petrol,yes,2016,Yaris

Preapring to send mails to clients

In [24]:
# Prepare an email message with the details of the target cars
msg = MIMEMultipart()
msg['From'] = 'jobskynocc@gmail.com'
msg['To'] = 'obideyioluwapelumi@gmail.com'
msg['Subject'] = 'Mercedes-Benz Cars on Sale'

body = 'Dear customer,\n\n We have the following Mercedes-Benz cars on sale:\n\n'

for _, car in target_cars1.iterrows():
    
    body += f'{car["Year"]} {car["Brand"]} {car["Model"]}, ${car["Price"]}\n'
body += '\n Please let us know if you are interested.\n\n Best regards,\n Your Sales Team'
msg.attach(MIMEText(body))

In [25]:

# Send the email to the customer
with smtplib.SMTP('smtp.gmail.com', 587) as smtp:
    smtp.ehlo()
    smtp.starttls()
    smtp.ehlo()

    smtp.login('jobskynocc@gmail.com', 'email_password') #passowrd from app password

    smtp.send_message(msg)

print('Email sent to customer')

Email sent to customer

Alternatively

In [17]:
import smtplib

# Set up the connection to the email server
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()

(220, b'2.0.0 Ready to start TLS')

In [18]:
# Log in to the sender's email account
sender_email = 'jobskynocc@gmail.com'
sender_password = 'xwkryjepqnnafzlc'
server.login(sender_email, sender_password)

(235, b'2.7.0 Accepted')

In [19]:
# Create the email message
recipient_emails = ['obideyioluwapelumi@gmail.com', 'oluwapelumiobideyi09@gmail.com', 'obideyi.pelumi@gmail.com']
subject = 'Mercedes-Benz Cars on Sale'
body = 'Dear customer,\n\n We have the following Mercedes-Benz cars on sale:\n\n'
for _, car in target_cars1.iterrows():
    
    body += f'{car["Year"]} {car["Brand"]} {car["Model"]}, ${car["Price"]}\n'
body += '\n Please let us know if you are interested.\n\n Best regards,\n Your Sales Team'

In [21]:
# Send the email message to multiple recipients
server.sendmail(sender_email, recipient_emails, body)
print("Email has been sent")

Email has been sent

In [26]:
# Close the connection to the email server
server.quit()

(451,
 b'4.4.2 Timeout - closing connection. gw19-20020a05600c851300b003ef5bb63f13sm27235353wmb.10 - gsmtp')